body{
      background:#6EC74A;

    }
    h1{
      text-align: center;
    }


.hh{

  border:3px solid white;
}
    .main{
      flex-wrap: wrap;

      margin-top:10%;
          background:#C161FF;

                border-radius:40px;


width:100%;


                  /*height:60%;*/
          display: flex;
          justify-content: space-around;
         /*flex-direction: column;*/


    }

.image1{
 padding:10px;
  height:200px;
  width:213px;
  border-radius:5px;
}
.image2{
 padding:10px;
  height:200px;
  width:233px;
    border-radius:5px;
}
.image3{
 padding:10px;
  height:200px;
  width:213px;
  border-radius:5px;
}
    .sub1{background: #FFFFFF;
      padding:5px;
border-radius:20px;
box-shadow:3.5px 5px 0 0 #616A6B;

cursor:pointer;
    }
.sub1:hover{

  background: #E29186;

    padding:5px;
  border-radius:20px;
  box-shadow:3.5px 5px 0 0 #616A6B;
  cursor:pointer;


}
      .sub2{background: #FFFFFF;


        border-radius:20px;
        box-shadow:3.5px 5px 0 0 #616A6B;
        cursor:pointer;
}
.sub2:hover{

  background: #E29186;
    padding:5px;
  border-radius:20px;
  box-shadow:3.5px 5px 0 0 #616A6B;
  cursor:pointer;


}

        .sub3{background: #FFFFFF;
          padding:5px;

          border-radius:20px;
          box-shadow:3.5px 5px 0 0 #616A6B;
          cursor:pointer;
}
.sub3:hover{

  background: #E29186;
    padding:5px;
  border-radius:20px;
  box-shadow:3.5px 5px 0 0 #616A6B;
  cursor:pointer;


}
@media all and (max-width:768px){
body{
  background:red;
}
.main{

      flex-wrap: wrap;
background: yellow;

    /*   flex-direction: row;*/


}

.sub1{/*background: #FFFFFF;*/
  /*padding:2%;*/
  padding:0%;
border-radius:20px;
box-shadow:3.5px 5px 0 0 #616A6B;
cursor:pointer;
width:100%;
display:flex;
overflow: hidden;
}
.sub1:hover{
    padding:0%;
width:100%;
background: #E29186;
/*padding:2%;*/
border-radius:20px;
box-shadow:3.5px 5px 0 0 #616A6B;
cursor:pointer;


}
  .sub2{/*background: #FFFFFF;*/
    width:100%;
    display:flex;
  padding:0%;

    border-radius:20px;
    box-shadow:3.5px 5px 0 0 #616A6B;
    cursor:pointer;
}
.sub2:hover{
    padding:0%;
width:100%;
background: #E29186;
border-radius:20px;
box-shadow:3.5px 5px 0 0 #616A6B;
cursor:pointer;


}

    .sub3{/*background: #FFFFFF;*/
      width:100%;
        padding:0%;
      display:flex;
overflow: scroll;

      border-radius:20px;
      box-shadow:3.5px 5px 0 0 #616A6B;
      cursor:pointer;
}
.sub3:hover{
    padding:0%;
width:100%;
background: #E29186;

border-radius:20px;
box-shadow:3.5px 5px 0 0 #616A6B;
cursor:pointer;


}

.image1{
 padding:2%;
  height:150px;
  width:213px;
  border-radius:5px;
}
.image2{
 padding:2%;
  height:150px;
  width:233px;
    border-radius:5px;
}
.image3{
 padding:2%;
  height:150px;
  width:213px;
  border-radius:5px;
}
.hh{

  flex-wrap: wrap;
  width:100%;
}

}
