body{
      background:#6EC74A;
      padding:40px;
    }
    h1{
      text-align: center;
    }
a{
  text-decoration:none;
  color:black;
}


    .main{
      margin-top:10%;
          background:#C161FF;
            padding:1%;
                border-radius:40px;
/*0border:3px solid black;*/

width:100%;


                  /*height:60%;*/
          display: flex;
          justify-content: space-around;
        /*   flex-direction: row;*/


    }

.image1{
 padding:10px;
  height:200px;
  width:213px;
  border-radius:5px;
}
.image2{
 padding:10px;
  height:200px;
  width:233px;
    border-radius:5px;
}
.image3{
 padding:10px;
  height:200px;
  width:213px;
  border-radius:5px;
}
    .sub1{background: #FFFFFF;
      padding:5px;
border-radius:20px;
box-shadow:3.5px 5px 0 0 #616A6B;
cursor:pointer;
    }
.sub1:hover{

  background: #E29186;
    padding:5px;
  border-radius:20px;
  box-shadow:3.5px 5px 0 0 #616A6B;
  cursor:pointer;


}
      .sub2{background: #FFFFFF;
        padding:5px;
        border-radius:20px;
        box-shadow:3.5px 5px 0 0 #616A6B;
        cursor:pointer;
}
.sub2:hover{

  background: #E29186;
    padding:5px;
  border-radius:20px;
  box-shadow:3.5px 5px 0 0 #616A6B;
  cursor:pointer;


}

        .sub3{background: #FFFFFF;
          padding:5px;
          border-radius:20px;
          box-shadow:3.5px 5px 0 0 #616A6B;
          cursor:pointer;
}
.sub3:hover{

  background: #E29186;
    padding:5px;
  border-radius:20px;
  box-shadow:3.5px 5px 0 0 #616A6B;
  cursor:pointer;


}
@media only screen and (max-width:768px){
body{
  background:red;
}
.main{
  margin-top:10%;
      background:#C161FF;
        padding:2%;
            border-radius:40px;
/*0border:3px solid black;*/

width:100%;


              /*height:60%;*/
      display: flex;
      justify-content: space-between;
      flex-direction: column;
    /*   flex-direction: row;*/


}

.sub1{/*background: #FFFFFF;*/
  padding:2%;
border-radius:20px;
box-shadow:3.5px 5px 0 0 #616A6B;
cursor:pointer;
}
.sub1:hover{

background: #E29186;
padding:2%;
border-radius:20px;
box-shadow:3.5px 5px 0 0 #616A6B;
cursor:pointer;


}
  .sub2{/*background: #FFFFFF;*/
    padding:2%;
    border-radius:20px;
    box-shadow:3.5px 5px 0 0 #616A6B;
    cursor:pointer;
}
.sub2:hover{

background: #E29186;
padding:2%;
border-radius:20px;
box-shadow:3.5px 5px 0 0 #616A6B;
cursor:pointer;


}

    .sub3{/*background: #FFFFFF;*/
      padding:2%;
      border-radius:20px;
      box-shadow:3.5px 5px 0 0 #616A6B;
      cursor:pointer;
}
.sub3:hover{

background: #E29186;
padding:2%;
border-radius:20px;
box-shadow:3.5px 5px 0 0 #616A6B;
cursor:pointer;


}

.image1{
 padding:2%;
  height:200px;
  width:213px;
  border-radius:5px;
}
.image2{
 padding:2%;
  height:200px;
  width:233px;
    border-radius:5px;
}
.image3{
 padding:2%;
  height:200px;
  width:213px;
  border-radius:5px;
}


}
